html {
    font-size: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
    background: hsl(230, 100%, 99%) no-repeat url(./images/bg-pattern.svg) ;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
/* Flexbox Styles */

.cont {
    display: flex;
}
.col {
    flex-direction: column;
}
.cent-h {
    align-items: center;
}
.cent-v {
    justify-content: center;
}

/* Text Style */
.text-c {
    text-align: center;
}
.no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}
.grayish {
    color:hsl(225, 20%, 60%)
}
.dark {
    color: hsl(227, 35%, 25%);
}
/* Banner Styles */

.banner {
    background: center no-repeat url(./images/pattern-circles.svg);
    height: 150px;
}

.main {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cta {
    background: hsl(227, 35%, 25%);
    color: hsl(225, 20%, 60%);
    padding: 5px 20px;
    border-radius: 20px;
}